*{
    margin:0;
    box-sizing: border-box;
}
.ResetPassword{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0,2rem;
    background-color: #c7c2b5;
}

.ResetPassword_Image{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.ResetPassword_Image img{
    width: 500px;
}

.ResetPassword_Box{
    display: flex;
    align-items: center;
}


.ResetPassword_Box input{
    width: 100%;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border-color: #cf2f13;
}

.ResetPassword_Box input[type="submit"]{
    width: 50%;
    padding: 10px;
    margin-left: 120px;
    border-radius: 20px;
    color: white;
    background-color: #a05bc7;
    border-color: #470d69;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
}
.ResetPassword_Box input[type="submit"]:hover{
    cursor: pointer;
}

.ResetPassword_Box .title_SU{
    margin-left: 30px;
    color: White;
}
